.calendar-header{
    background-color: rgb(130, 202, 202);
    text-decoration-color: whitesmoke;
    color:whitesmoke;
    text-align: center;
}
.calendar-body {
    .grid {
    padding: 5px;
    }
}
.Dayssc{
    text-align: center;
    border-color: coral;
}

ion-col.colo{
    text-align: center;
    border-color: coral;
}
ion-col.jourJ{
    border-color: coral;
}