.calendar {
    --ion-grid-columns:   14;   // 14 colonnes au lieu de 12 par défaut
    background-color: lightgrey
}

.month {
    background-color: mediumturquoise;
}

.dayOfWeek {
    background-color: cadetblue;
    border: solid 1px;
}

.week {
   
}

