<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>


  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Lundi</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>Mardi</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>Mercredi</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>Jeudi</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>Vendredi</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>Samedi</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>Dimanche</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    
      <ion-row *ngFor="let sem of calendar">
        <ion-col *ngFor = "let jour of sem" (click)="onSelect(jour)">
          <ion-item>
            <ion-label>{{ jour.number }}</ion-label>
            <ion-label *ngIf="jour.event">{{ jour.event.title }}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-item *ngIf="selectedDay">
          <ion-item *ngIf="selectedDay.event">
      <ion-row>
        <ion-col size="12">
          <ion-label>{{selectedDay.name }} {{selectedDay.number}} {{selectedDay.month}}</ion-label>
        </ion-col>
      </ion-row>
        <ion-row >
          <ion-col size="4">Evenement : {{selectedDay.event.title}}</ion-col>
          <ion-col size="4">Lieu :{{selectedDay.event.location}} </ion-col>
          <ion-col size="4">Description : {{selectedDay.event.description}}</ion-col>
        </ion-row>
      </ion-item>
    </ion-item>
    </ion-grid>
</ion-content>
